nav ul{
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

nav ul div{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.list-container{
  display: grid;
  grid-template-columns: auto auto auto;
}

.list-container div{
  width: 10em;
  padding: 10px;
  margin:auto;
  border: solid;
} 