nav ul{
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    display: inline-flex;
    gap: 10px;
}

.list-container{
  display: grid;
  grid-template-columns: auto auto auto;
}

.list-container div{
  width: 10em;
} 