<nav>
    <ul>
        <div>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'books' %}">Books</a></li>
        <li><a href="{% url 'authors' %}">Authors</a></li>
        <li><a href="{% url 'genres' %}">Genres</a></li>
        <li><a href="{% url 'users' %}">Users</a></li>
        </div>
        {% if request.user.is_authenticated %}
        <li class="account-link"><a href="{% url 'profile' request.user.id %}">Account</a> <a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li class="account-link"><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>