{% extends "main.html" %}

{% block title %}
Book Catalog
{% endblock title %}

{% block content %}
<li>
    <form method="GET" action="{% url 'books' %}">
    <input type="text" name="q" placeholder="Search books..." />
    </form>
</li>
<div class="list-container">
    {% for book in book_list %}
        <div>
            <strong><a href="{% url 'book-detail' book.id %}">{{book.title}}</a></strong>
            {% for author in book.authors.all %}
                <a href="{{ author.get_absolute_url }}"><p>{{author}}</p></a>
            {% endfor %}        
        </div>
    {% endfor %}
</div>
{% endblock content %}